<div class="d-flex mt-2">
<%= image_tag "avatar-3.jpg", class:"me-3 avatar-sm rounded-circle", alt:"Generic placeholder image"%>
<div class="w-100">
<h5 class="mt-0">User Name</h5>
<%= comment.description%>
</div>
</div>