<div class="wrapper">
<div class="card mb-1 shadow-none border">
<div class="p-2">
  <div class="row align-items-center">
    <div class="col-auto">
      <div class="avatar-sm">
        <span class="avatar-title rounded">
            <%= document.file_content_type.split('/')[0]%>
        </span>
      </div>
    </div>
    <div class="col ps-0">
      <a href="javascript:void(0);" class="text-muted fw-bold"><%= document.file_file_name%></a>
      <p class="mb-0"><%= FriendlyNumbers.number_to_human_size(document.file_file_size) %></p>
    </div>
    <div class="col-auto">
      <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
          <i class="ri-download-2-line"></i>
      </a>
    </div>
  </div>
</div>
</div>
</div>
